.nav {
  position: fixed;
  width: 100%;
  background-color: #fcfcfc;
  padding: 20px 50px;
  left: 0px;
  bottom: 0px;
  border-top: 1px solid #f7f7f7;
  z-index: 2;
}

.nav .nav__list {
  display: flex;
  justify-content: space-between;
}

.nav i {
  font-size: 22px;
}

.nav .nav__list-link {
  position: relative;
}

.nav .nav__badge {
  position: absolute;
  top: -8.5px;
  right: -8.5px;
  font-size: 11px;
  color: white;
  background-color: #e65f3f;
  width: 18px;
  height: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}
@keyframes navUp {
  from {
    transform: translateY(80px);
  }
  to {
    transform: none;
  }
}
.nav {
  transform: translateY(80px);
  animation: navUp 0.2s ease-out 0.2s forwards;
}
